[Unit]
Description={{ podman_app.description }}
{% if podman_app.mount %}
RequiresMountsFor={{ podman_app.mount.host }}
{% endif %}

[Container]
Image={{ podman_app.image }}
{% for volume in podman_app.volumes %}
Volume={{ volume.host }}:{{ volume.container }}:Z
{% endfor %}
{% if podman_app.mount %}
Volume={{ podman_app.mount.host }}:{{ podman_app.mount.container }}:ro
{% endif %}
{% for name, value in podman_app.env.items() %}
Environment={{ name }}={{ value }}
{% endfor %}
{% for secret in podman_app.secret_env %}
Environment={{ secret.env }}={{ vars[secret.name] }}
{% endfor %}
{% if podman_app.command %}
Exec={{ podman_app.command }}
{% endif %}
{% for port in podman_app.ports %}
PublishPort={{ port.host }}:{{ port.container }}
{% endfor %}

[Service]
Restart=always

[Install]
WantedBy=default.target
