[Unit]
Description={{ source_app.description }}
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
WorkingDirectory={{ source_app.root }}/current
{% for name, value in source_app.env.items() %}
Environment="{{ name }}={{ value }}"
{% endfor %}
{% for secret in source_app.secret_env %}
Environment="{{ secret.env }}={{ vars[secret.name] }}"
{% endfor %}
ExecStart={{ source_app.command }}
Restart=on-failure
RestartSec=5

[Install]
WantedBy=default.target
